---
import HeroIllustration from './HeroIllustration.astro';
import AnimatedText from '../sections/animated-text.astro';

---

<section class="hero">
  <div class="container">
    <div class="hero-text">
      <h1>A <span class="accessing-text">Self Defined</span> and <span class="mapping-text">Distributed Platform</span> for Front End Standardization !</h1>
      <p>1FE is a centralized platform that standardizes the development, deployment, and execution of frontend experiences within a unified app shell and shared infrastructure.</p>
      <div class="hero-buttons">
        <a href="getting-started/installation/" class="demo-button">Getting Started</a>
        <a href="https://developers.docusign.com/" class="discover-button">Docusign Developer Hub</a>
      </div>
      <div class="hero-stats">
        
      </div>
    </div>
    <AnimatedText />
  </div>
</section>

<style>
  .hero {
    padding: 60px 0 100px;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
  }
  
  .hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
    line-height: 1.2;
  }
  
  .mapping-text {
    color: var(--primary);
  }
  
  .accessing-text {
    color: var(--secondary);
  }
  
  .hero-text p {
    font-size: 16px;
    margin-bottom: 32px;
    color: var(--gray);
    max-width: 540px;
    line-height: 1.7;
  }
  
  .hero-buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
  }
  
  .demo-button {
    background-color: rgb(61, 80, 245);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 14px;
  }
  
  .discover-button {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
  }
  
  .discover-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .hero-stats {
    display: flex;
    gap: 32px;
  }
  
  .stat-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--gray);
  }
  
  .stat-item svg {
    color: var(--light);
  }
</style>