---
import AnimatedLayersSVG from "../../../assets/animated-layers.svg";
import AnimatedSlider from '../AnimatedSlider.tsx';
import { Image } from 'astro:assets';

---

<section class="features-section">
  <div class="container">
    <div class="what-we-do">Standardize Solutions Across Products</div>
    <AnimatedSlider client:load="react" />
    
  </div>
</section>

<style>
  .features-section {
    padding: 100px 0 80px;
    text-align: center;
    position: relative;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .features-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  }
  
  .what-we-do {
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .features-headline {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
  }
  
  .features-description {
    font-size: 16px;
    color: var(--gray);
    min-width: 700px;
    margin: 0 auto;
    line-height: 1.7;
  }
</style>
