
---
import AnimatedTextComponent from './AnimatedText.tsx';
---
<div>
    <span class="text-roller" role="presentation">
        [ ONE way to <AnimatedTextComponent client:load="react" /> ]
    </span>
</div>

<style>
    .text-roller {
        font-size: 1.5rem;
        display: block;
        text-align: center;
        color: var(--sl-color-gray-3);
    }

    @media (max-width: 50rem) {
        .text-roller {
            padding: 4rem 0;
        }
    }
</style>
