---
import AnimatedText from './animated-text.astro';

---

<div>
  <h2 class="text-center text-slate-500"></h2>
  <div
    class="flex gap-x-8 gap-y-4 md:gap-20 lg:gap-28 items-center justify-center mt-6 flex-wrap">
    <AnimatedText />
  </div>
</div>
