---
import { Image } from 'astro:assets';
import { Badge } from '@astrojs/starlight/components';
import StitchedPageImg from "../../../assets/stitched-page.svg";

---

<div>
    <div class="made-by-wrapper">
        <Badge text="Team A" variant="success" class="made-by" />
    </div>
    <div class="section">
        <div>
            <Image src={StitchedPageImg} alt="Sticthed" class="image" />
        </div>
        <div class="content">
            <h2>A Dynamic Runtime</h2>

            <p>
                The 1FE Runtime is alive! It pulls and orchestrates widgets independently to stitch together dynamic pages that are constructed on the fly based on configurations or complex business logic. A living and breathing Ecosystem, when deployed, does not need to be restarted when widgets release.
            </p>
            <p>
                The Runtime provides contextual data and web helper utilities, defined by <strong>YOU</strong>, to widgets to help them render and interact with the page.
            </p>
        </div>
    </div>
</div>

<style>
    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 2px dashed var(--sl-color-accent);
        margin-top: 0px !important;
        padding: 4rem 0rem;
    }

    .content {
        padding: 1rem;

        h2 {
            text-align: center;
            padding-bottom: 2rem;
        }
    }

	@media (max-width: 50rem) {
        .section {
            flex-direction: column;
            align-items: center;
        }

        .image {
            width: 25rem;
        }
    }

    .made-by-wrapper {
        display: flex;
        justify-content: start;
    }

    .made-by {
        padding: 0.25rem 0.5rem;
        border-radius: 8px 8px 0 0;
    }
</style>