---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

interface Props {
  title?: string;
  footerMargin?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, footerMargin = true } = Astro.props;

const makeTitle = "1fe - Configuration-driven Front End Development";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="JWoAPZuyjU5mL48jm4xw1l0RNd3I0fqp2kn84zH99Os" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="1fe - Configuration-driven Front End Development"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: "1fe - Configuration-driven Front End Development",
          type: "website",
          image: "https://1fe.com/og-image.svg",
          url: "https://1fe.com",
        },
        optional: {
          description: "Micro-frontend platform for modern development teams",
          siteName: "1fe Documentation",
          locale: "en_US",
        },
        image: {
          type: "image/svg+xml",
          width: 600,
          height: 600,
        },
      }}
      twitter={{
        card: "summary_large_image",
        image: "https://1fe.com/og-image.svg",
      }}
    />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      /* Remove arrows from list-style - fix for tailwindcss */
      details > summary.list-none::-webkit-details-marker,
      details > summary.list-none::marker {
        display: none;
      }
    </style>
    <!-- Enable this if you want to use Astro ViewTransitions  -->
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer margin={footerMargin} />
  </body>
</html>
